@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,300&display=swap");

* {
  font-family: "Rubik", sans-serif;
}
strong {
  font-weight: 500;
}
.card img {
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: green;
  font-weight: 600;
}
.blog a {
  color: blue;
}
