html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 10px 5px;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: square;
}

nav ul {
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.aside-one ul {
  padding: 10px 30px;
}

.aside-two ul {
  align-items: center;
  list-style: none;
}

.aside-two ul li {
  margin: 5px 0;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

h1 em {
  font-size: 16px;
  font-weight: 400;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 20px;
}

@media (min-width: 680px) {
  body {
    background-color: darkolivegreen;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  nav li {
    font-size: 20px;
    margin: 5px;
  }

  .aside-one li {
    text-align: center;
    list-style: none;
    margin: 2px 0;
    font-size: 18px;
  }

  h1 {
    font-size: 35px;
  }

  h1 em {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: rgb(43, 43, 43);
    color: white;
  }
  h1 {
    color: rgb(212, 212, 212);
  }
  h1 em {
    color: rgb(204, 45, 45);
  }
  h2,
  h3 {
    color: rgb(218, 233, 133);
  }
}
